:root {
    --blue-1: #3c429e;
    --blue-2: #4c52ad;
    --yellow-1: #fac742;
    --white: #fff;
    --grey-1: #ededed;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 80%;
    height: 100%;
    background-color: var(--blue-1);
/*     display: flex;
    justify-content: center;
    align-items: center; */
}
.container {
    width: 300px;
    height: 70vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
/*     display: inline-block; */
    margin: 15px;
}
.lower-data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.lower-data img {
    width: 1em;
}
.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.upper-data img {
    object-fit: scale-down;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.location {
    color: var(--white);
    text-align: center;
    font-size: 1.2em;
    padding: 25px;
}
.temperature {
    color: var(--white);
    font-weight: 900;
    font-size: 4em;
    text-align: center;
}
.more-info-label {
    color: var(--white);
    display: flex;
    align-items: center;
}
.more-info-container {
    flex: 1;
    background-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info-block{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-block img {
    width: 3em;
    height: 3em;
}

.info-block span {
    color: var(--white);
    font-size: 0.8em;
}
.info-block-value {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white)
}
.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.lower-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.displayer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80vh;
}
.button {
    color: black;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
}
.search {
    margin-bottom: 1em;
    margin-top: 2em;
    text-align:center;
}
.search input {
    background-color:var(--shadow-light) ;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--grey-1);
    font-size:0.8em;
    text-align: center;
}
.hotClass {
    background-color: #FF8D27;
}
.coldClass {
    background-color: #2786FF;
}
fa-icon {
    margin: 5px;
    padding: 5px;
}
.button:hover {
    color: white;
    transition: 1s;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    margin-top: 1em;
}
.head h1{
    font-weight: 900;
    font-size: 4em;
}